@font-face {
  font-family: Favorite Regular;
  src: url("../assets/Fonts/Favorit-Regular.otf") format("opentype");
}

@font-face {
  font-family: Favorite Medium;
  src: url("../assets/Fonts/Favorit-Medium.otf") format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h3 {
  margin: 0;
}
